/* Cleaners */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Proxima Nova', sans-serif;
	cursor: default;
}

html,
body {
	height: 100vh;
	width: 100vw;
	background-color: #1e1c27;
}

html {
	overflow-x: hidden;
	overflow-: hidden;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
}

ç

/* Hide scrollbar for Chrome, Edge, and Safari */
body::-webkit-scrollbar {
	display: none;
}

main {
	width: 100%;
	height: 100%;
}

/* Intro section */

.navbar {
	display: flex;
	justify-content: space-between;
	color: white;
}

.navbar h1 {
	font-size: 54px;
	font-weight: bold;
	margin-top: 4.4225rem;
	margin-left: 3.6rem;
}

.navbar ul {
	list-style: none;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	width: 40.08rem;
	font-size: 30px;
	font-weight: 300;
	margin-top: 5.225rem;
	margin-right: 3.6rem;
}

.nav-list li {
	cursor: pointer;
}

.intro-pt {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12.1875rem;
	gap: 3.75rem;
}

.intro-pr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.9375rem;
}

.intro-pr p {
	color: white;
	font-size: 30px;
	font-weight: 200;
}

.icons {
	display: flex;
	width: 39.12rem;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.icons a > img {
	width: 2.5rem;
}

.f-icons {
	display: flex;
	height: 2.4688rem;
	gap: 1.25rem;
}

.s-icons {
	display: flex;
	height: 2.4688rem;
	gap: 1.25rem;
}

#linkedin-icon:hover,
#fcb-icon:hover,
#ig-icon:hover,
#github-icon:hover {
	cursor: pointer;
	opacity: 50%;
	transition: all 0.12s ease-in-out;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}

.description h1 {
	color: transparent;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.05vw;
	font-size: 65px;
	overflow: visible;
	position: relative;
	letter-spacing: -0.5rem;
}

.hover-word span {
	color: transparent;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.06rem;
	transition: color 0.3s ease-in-out; /* Smooth transition for color change */
	display: inline-block; /* Ensure each span is displayed inline */
}

.hover-word span:hover {
	color: rgba(255, 255, 255, 1); /* Change color on hover */
}

.description h2 {
	color: white;
	font-size: 35px;
	text-align: center;
}

.description-btns {
	display: flex;
	gap: 1.875rem;
	margin-top: 0.875rem;
}

.description-btns button {
	width: 12.875rem;
	height: 5rem;
	border-radius: 625rem;
	border: 3px solid white;
	cursor: pointer;
}

#cnt-btn {
	color: black;
	background-color: white;
	font-size: 25px;
	transition: all 0.15s ease-in-out;
}

#cnt-btn:hover {
	background-color: transparent;
	color: white;
}

#cv-btn {
	color: white;
	font-size: 25px;
	background: transparent;
	transition: all 0.15s ease-in-out;
}

#cv-btn:hover {
	background-color: white;
	color: black;
}

#pf-photo {
	width: 21.625rem;
	height: 21.625rem;
	border-radius: 12.5rem;
	border: 6px solid white;
}

/* About me section */

.about-section {
	margin-top: 280px;
}

.marquee {
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 1949.07px; /* Adjust as needed */
	transform: rotate(-8.59deg);
	bottom: -20.58%;
	left: -1.1%;
}

.marquee-text {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	animation: marquee 10s linear infinite; /* Adjust time as needed */
	font-size: 44px;
	font-weight: bold;
	color: #fff;
}

@keyframes marquee {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.rectangle-s-1 {
	position: relative;
	height: 1450.5008px;
	background: #464975;
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.about-title {
	text-align: center;
	margin-top: 300px;
}

.about-container {
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.about-container h6 {
	font-size: 24px;
	font-weight: 200;
}

.about-container h1 {
	font-size: 65px;
	font-weight: bold;
	border-bottom: #fff 2px solid;
	width: 500px;
	text-align: center;
}

.about-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 146px;
	margin-top: 170px;
}

.about-content p {
	color: #fff;
	letter-spacing: 0.05em;
	line-height: 44px;
	width: 842px;
	font-size: 36px;
	font-weight: 300;
	text-align: right;
}

.about-text {
	font-style: italic;
	font-weight: 900;
	font-size: 36px;
}

.about-content img {
	width: 672.46px;
	height: 510px;
}

/* Skills section */

.skills-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 150px;
}

.skills-title {
	display: flex;
	justify-content: center;
}

.skills-title h1 {
	font-size: 65px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
	width: 300px;
	text-align: center;
}

.skills-setup {
	display: flex;
	gap: 30px;
}

.skills-setup-fr-t {
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	gap: 30px;
}

.skills-content {
	display: flex;
	justify-self: center;
	align-self: center;
	gap: 18rem;
}

.skills-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap: 2.5rem;
}

.skills-stack-text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.skills-stack-text p {
	font-size: 24px;
	font-weight: 200;
	color: #fff;
}

.skills-stack img {
	width: 50px;
}

.skills-stack h1 {
	text-align: center;
	justify-self: center;
	align-self: center;
	font-size: 48px;
	font-weight: bold;
	width: 300px;
	color: #fff;
}

#tech-stack-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50.25rem;
	gap: 80px;
	flex-wrap: wrap;
}

#tech-stack-content p {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

#tech-stack-content iconify-icon {
	font-size: 90px;
}

#tech-stack-content h2 {
	color: #fff;
	font-size: 30px;
	margin-right: auto;
	margin-left: 30px;
	border-bottom: 3px solid #fff;
	width: 100%;
	text-align: left;
}

.tech-row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50.25rem;
	gap: 70px;
	flex-wrap: wrap;
}

#tools,
#back-end,
#front-end {
	transition: all 0.1s ease-in-out;
}

#back-end {
	margin-top: 120px;
	height: 250px;
}

#front-end {
	height: 240px;
	width: 300px;
	margin-left: 20px;
}

#tools:hover,
#back-end:hover,
#front-end:hover {
	cursor: pointer;
	filter: brightness(30%);
}
